.showHamgurguer{
  height: 50%;
  background-color: #fcecdd;
}

.itemList{
  height: 50%;
  background-color:#8b0000;
}

.items{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
}

.itemList{
  text-align: center;
}

button{
  margin-top: 40%;
}

// .finish{
//   margin-top: 40%;
// }