ion-content{
  margin-top: 20px;
}

ion-toolbar{
  text-align: center;
  font-family: 'Brush Script MT', cursive;
}

ion-card{
  text-align: center;
  background-color: #8b0000;
  font-family: 'Brush Script MT', cursive;
}

.mainCard{
  height: auto;
}

img{
 height: auto;
 width: 100%;
 margin-bottom: 5%;
}

.subCard{
  height: 30%;
}
