<ion-header class="Title">
  <ion-toolbar>
    <ion-title>
      Hamburguers Delivery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mainCard">
    <ion-card-header>
      <img id="imgHome" class="img-fluid" src="https://cdn.pixabay.com/photo/2020/07/28/22/13/burger-5446445_1280.png" alt="">
      <button routerLink="/steps" class="btn btn-danger">Monte seu hamburguer!</button>
    </ion-card-header>
    <!-- <ion-button routerLink="/steps" color="primary">MONTE SEU HAMBURGUER!</ion-button> -->
  </ion-card>
  <ion-card class="subCard text-light">
    <ion-card-header>
      <ion-card-title class="h1">Venha conhecer!</ion-card-title>  
    </ion-card-header>
    <ion-card-content class="font-weight-bold">
      <u>Localização</u>
      <p>Praça Sete de Setembro, s/n - Centro, Belo Horizonte - MG, 30160-041</p>
    </ion-card-content>
  </ion-card>
</ion-content>